@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zain:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 2.7%;
    background-color: #dcfcca;
    padding: 6px 0.3%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    transition: all 0.5s ease;
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
}

.sidebar .logo .logoicon {
    display: flex;
    height: 50px;
    align-items: center;
    width: 0px;
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar.active .logoname {
    opacity: 1;
    transition: all 0.5s ease;
}

.sidebar .logoname {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.active .logo .logoicon {
    opacity: 1;
    transition: all 0.5s ease;
}

.sidebar #menubtn {
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    transition: 0.5s ease;
}

.sidebar ul {
    margin-top: 20px;
    text-align: center;
}

.sidebar li {
    position: relative;
    height: 50px;
    width: 50%;
    margin: 0px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    min-width: 50px;
    border-radius: 100%;
    transition: all 0.5s ease;
}

.sidebar.active ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    min-width: 50px;
    border-radius: 12px;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar ul li a:hover {
    background: white;
}

.sidebar.active {
    width: 8%;
}

.sidebar.active #menubtn {
    left: 85%;
}

.sidebar.active ul li {
    width: 150px;
}

#menubtn:hover {
    cursor: pointer;
    background: white;
    border-radius: 100%;
}

.sidebar.active .navbarname {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidebar .navbarname {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
    overflow: hidden;
    min-width: 100px;
}

.logoname {
    padding-left: 15px;
}

.PageContents {
    position: absolute;
    display: flex;
    width: 96.7%;
    left: 3.3%;
    transition: all 0.5s ease;
    overflow-wrap: normal;
    flex-wrap: wrap;
}

.PageContents.active {
    width: 91.4%;
    left: 8.6%;
    transition: all 0.5s ease;
}

.logo {
    margin-left: 17px;
    transition: all 0.5s ease;
}

.PageHeader {
    font-family: "Poiret One", sans-serif;
    font-size: 35px;
    padding-left: 25px;
    border-bottom: solid;
    width: 100%;
    display: block;
    padding-top: 8px;
    top: 0px;
    position: sticky;
    background-color: white;
    z-index: +1;
}

.sidebar.active .logo {
    transition: all 0.5s ease;
}

.PageBody {
    display: flex;
    padding-left: 1%;
    padding-top: 1%;
    font-family: "Poppins";
    flex-flow: row wrap;
    justify-content: left;
    width: 100%;
    overflow: wrap;
}

#CurrentPage {
    background-color: white;
}

body {
    margin: 0;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

.RecordFromWrapper {
    width:50vw;
    height:55vh;
    background-color:#dcfcca;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:60px;
}

#AddRecordPage {
    justify-content:center;
}
#AddRecordForm {
    position:absolute;
    width:300px;
    scale:110%
}
#message {
    display: none;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    top:195px;
    position:relative;
}

#FormTitle {
    position:absolute;
    top:145px;
    scale:130%;
}
input {
    border-radius:6px;
    float:right;
    border: solid 1px black;
}
select {
    border-radius:6px;
    float:right;}

#AddRecordForm label {
    float:left;
}

#formsubmit {
    background-color:lightskyblue;
    padding:2px 15px;
    color:white;
    right:100px;
    top:25px;
    border-radius:15px;
    scale:110%;
    font-size:20px;
    font-family: "Zain", sans-serif;
    position:relative;
}

#formsubmit:hover {
    cursor:pointer;
    background-color:#8cb6fa;
    font-family: "Zain", sans-serif;
}

#HomePage {
    justify-content: center;
    width:100%;
    height:150px;
}
#HomeHeaderThing {
    width:40%;
    height:200px;
    position: relative;
    top: 0px;
}

#HomeImg {
    left:25%;
    position:relative;
}

#HomeContents {
    position:relative;
    top:250px;
    width:50%;
    left:-6%;
    text-align:center;
    font-family: "Roboto"
}

#HomePageWrapper {
    justify-content: center;
}

.Question {
    width:100%;
    float:left;
}
.Answer {
    width:100%;
}